@page "/account"
@inject NavigationManager NavigationManager
@inject UserClient UserClient

<h1>Register an Account</h1>
<EditForm Model="@_user" FormName="Login" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
    <div class="form-container">
        <div>
            <label class="form-label" for="username">Username:</label>
            <InputText id="username" @bind-Value="_user!.Username" class="form-control" />
        </div>
        <div>
            <label class="form-label" for="password">Password:</label>
            <InputText id="password" @bind-Value="_user!.Password" type="password" class="form-control" />
        </div>
        <div class="form-container">
            <button class="btn-primary" type="submit" style="margin-top: 50px;">Submit</button>
            <button class="btn-primary" @onclick=GoToHome>Home</button>
        </div>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private User? _user { get; set; } = new User();
    private DBCallerUser _databaseCallerUser = new DBCallerUser();
    private DBCallerSettings _databaseCallerSettings = new DBCallerSettings();

    private void HandleSubmit()
    {
        UserClient.SetUser(_user!);
        int userId = _databaseCallerUser.AddUser(_user!.Username, _user.Password);  // find user in database if record exists, otherwise add a new user
        UserClient.User!.SetId(userId);
        SetUserSettings();
        GoToHome();
    }

    private void SetUserSettings()
    {
        _databaseCallerSettings.SetDefaultUserSettings(UserClient.User!.Id);
    }

    private void GoToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}
