@page "/difficulty"
@inject NavigationManager NavigationManager

<h1>Select Difficulty</h1>

<div class="difficulty-container">
        <a type="button" class="btn-primary" href="/game/Easy" style="color: lawngreen">Easy</a>
        <a type="button" class="btn-primary" href="/game/Medium" style="color: yellow">Medium</a>
        <a type="button" class="btn-primary" href="/game/Hard" style="color: lightcoral">Hard</a>
        <a type="button" class="btn-primary" href="/game/Adaptive">Adaptive</a>
        <a type="button" class="btn-primary" href="/custom">Custom Game</a>
</div>

@code
{
    
}