@page "/difficulty"
@inject NavigationManager NavigationManager

<h1>Select Difficulty</h1>

<div style="display: flex; flex-direction: column; gap: 150px; min-height: 50vh; text-align: center;">
    <div style="margin-top: 50px;">
        <a type="button" class="btn-primary" href="/game/easy}" style="color: green">Easy</a>
    </div>
    <div>
        <a type="button" class="btn-primary" href="/game/medium}" style="color: yellow">Medium</a>
    </div>
    <div>
        <a type="button" class="btn-primary" href="/game/hard" style="color: red">Hard</a>
    </div>
    <div>
        <a type="button" class="btn-primary" href="/custom">Custom Game</a>
    </div>
</div>

@code
{
    
}