@page "/difficulty"
@inject NavigationManager NavigationManager

<h1>Select Difficulty</h1>

<div class="difficulty-container">
        <a type="button" class="btn-primary" href="/game/easy" style="color: lawngreen">Easy</a>
        <a type="button" class="btn-primary" href="/game/medium" style="color: yellow">Medium</a>
        <a type="button" class="btn-primary" href="/game/hard" style="color: lightcoral">Hard</a>
        <a type="button" class="btn-primary" href="/custom">Custom Game</a>
</div>

@code
{
    
}