@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Welcome!</h1>

<EditForm Model="@user" FormName="Login" OnValidSubmit="HandleSubmit">
    <div class="form-container">
        <div>
            <label class="form-label" for="username">Username:</label> 
            <InputText id="username" @bind-Value="user!.Username" class="form-control input-text" />
        </div>
        <div>
            <label class="form-label" for="password">Password:</label>
            <InputText id="password" @bind-Value="user.Password" class="form-control input-text" />
        </div>
        <div>
            <button class="btn-primary">Submit</button>
        </div>
    </div>
</EditForm>

@code
{
    public User? user { get; set; }

    protected override void OnParametersSet()
    {
        user = new User()
            {
                Username = string.Empty,
                Password = string.Empty
            };
    }

    public void HandleSubmit()
    {
        // find user in database if record exists, otherwise add a new user
        NavigationManager.NavigateTo("/menu");
    }
}
