@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<style>
    .form-container{
        max-width: 400px;
        margin: 0 auto;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    label{
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    input{
        font-size: 10px;
        text-align: left;
        margin-bottom: 20px;
    }
</style>

<h1 style="text-align: center; font-size: 50px">Welcome!</h1>

<EditForm Model="@user" FormName="Login" OnValidSubmit="HandleSubmit">
    <div class="form-container">
        <div>
            <label for="username">Username:</label> <br />
            <InputText id="username" @bind-Value="user!.Username" class="form-control" />
        </div>
        <div>
            <label for="password">Password:</label> <br />
            <InputText id="password" @bind-Value="user.Password" class="form-control" />
        </div>
        <div>
            <button class="btn btn-primary" style="margin-top: 20px; font-size: 20px">Submit</button>
        </div>
    </div>
</EditForm>

@code
{
    public User? user { get; set; }

    protected override void OnParametersSet()
    {
        user = new User()
            {
                Username = string.Empty,
                Password = string.Empty
            };
    }

    public void HandleSubmit()
    {
        // find user in database if record exists, otherwise add a new user
        NavigationManager.NavigateTo("/menu");
    }
}
