@page "/largerselect"

<h1>Select Board Type or Custom</h1>

<div class="difficulty-container">
    <a type="button" class="btn-primary" href="/game/16">16x16</a>
    <a type="button" class="btn-primary" href="/custom/16">Custom Input 16x16</a>
    <a type="button" class="btn-primary" href="/custom/25">Custom Input 25x25</a>
</div>

@code {

}
