@page "/leaderboard"
@inject NavigationManager NavigationManager
@inject DBCaller DatabaseCaller

<h1 style="font-size: 50px; text-align: center">Leaderboard</h1>

@if (dataEntries == null)
{
    <h1 style="margin-top: 100px">Loading</h1>
}
else
{
    <div style="margin-left: 100px; margin-top: 50px">
        <strong><u>Name</u></strong>
        <strong><u>Score</u></strong>
        <strong><u>Date</u></strong>
        @foreach (LeaderboardEntry entry in dataEntries)
        {
            <div class="leaderboard-text">
                <h3>@entry.Username</h3>
                <h3>@entry.Score</h3>
                <h3>@entry.Date</h3>
            </div>
        }
        <button class="btn-leaderboard" @onclick=NavigateToMenu>Main Menu</button>
    </div>
}


@code {
    private List<LeaderboardEntry>? dataEntries { get; set; }
    private string menuUrl = "/menu";

    protected override void OnInitialized()
    {
        dataEntries = DatabaseCaller.GetLeaderboardEntries();
        // sort leaderboard entries - consider??
    }

    private void NavigateToMenu()
    {
        NavigationManager.NavigateTo(menuUrl);
    }
}
