@page "/leaderboard"
@inject NavigationManager NavigationManager
@inject UserClient UserClient

<h1 style="font-size: 50px; text-align: center">Leaderboard</h1>

<div style="margin-left: 100px; margin-top: 50px">
    <strong><u>Name</u></strong>
    <strong><u>Score</u></strong>
    <strong><u>Date</u></strong>
    <div>
        <a type="button" class="btn-leaderboard" href="/menu">Main Menu</a>
        <button class="btn-leaderboard">Next Page</button>
        <button class="btn-leaderboard">Previous Page</button>
    </div>
</div>


@code {
    private LeaderboardEntry[]? data;
    
    protected override void OnInitialized()
    {
        // fetch data from database backend class
    }
}
