@page "/menu"
@inject NavigationManager NavigationManager
@inject UserClient UserClient

<h1 style="text-align: center; margin-bottom: 50px">Welcome @UserClient.User!.Username</h1>

<div class="menu-text">
    <button class="btn-primary" @onclick=GoToDifficulty>New Game</button>
    <button class="btn-primary" @onclick=GoToDifficulty>Continue Game</button>
    <button class="btn-primary" @onclick=GoToLeaderboard>Leaderboard</button>
    <button class="btn-primary" @onclick=GoToSettings>Settings/Stats</button>
</div>

@code {
    private DBCaller? DatabaseCaller = new DBCaller();

    protected override void OnInitialized()
    {
        LoadUserSettings();
    }

    private void LoadUserSettings()
    {
        (string, string) settings = DatabaseCaller!.GetUserSettings(UserClient.User!.Id);  // gets user settings from database
        UserClient.SetMistakeDetection(settings.Item1);
        UserClient.SetSaveScores(settings.Item2);   // records settings in UserClient object
    }

    private void GoToDifficulty()
    {
        NavigationManager.NavigateTo("/difficulty");
    }

    private void GoToLeaderboard()
    {
        NavigationManager.NavigateTo("/leaderboard");
    }

    private void GoToSettings()
    {
        NavigationManager.NavigateTo("/settings");
    }
}
