@page "/menu"
@inject NavigationManager NavigationManager
@inject UserClient UserClient
@inject DBCaller DatabaseCaller

<h1 style="text-align: center; margin-bottom: 50px">Welcome @UserClient.User!.Username</h1>

<div class="menu-text">
        <a type="button" class="btn-primary" href="/difficulty">New Game</a>
        <a type="button" class="btn-primary" href="/continue">Continue Game</a>
        <a type="button" class="btn-primary" href="/leaderboard" >Leaderboard</a>
        <a type="button" class="btn-primary" href="/settings">Settings/Stats</a>
</div>

@code {

    protected override void OnInitialized()
    {
        LoadUserSettings();
    }

    private void LoadUserSettings()
    {
        (string, string) settings = DatabaseCaller.GetUserSettings(UserClient.User!.Id);  // gets user settings from database
        UserClient.MistakeDetection = settings.Item1;  // records settings in userclient object
        UserClient.SaveScores = settings.Item2;
    }

    private void Navigate()
    {
        NavigationManager.NavigateTo("/difficulty");
    }
}
