@page "/menu"
@inject NavigationManager NavigationManager

<h1 style="text-align: center; margin-bottom: 50px">Welcome</h1>

<div style="display: flex; flex-direction: column;  gap: 100px; min-height: 50vh; text-align: center;">
    <div>
        <a type="button" class="btn-primary" href="/difficulty">New Game</a>
    </div>
    <div>
        <a type="button" class="btn-primary" href="/continue">Continue Game</a>
    </div>
    <div>
        <a type="button" class="btn-primary" href="leaderboard" >Leaderboard</a>
    </div>
    <div>
        <a type="button" class="btn-primary" href="/settings">Settings</a>
    </div>
</div>

@code {
    private void Navigate()
    {
        NavigationManager.NavigateTo("/difficulty");
    }
}
