@page "/menu"
@inject NavigationManager NavigationManager
@inject UserClient UserClient

<h1 style="text-align: center; margin-bottom: 50px">Welcome @UserClient.User!.Username</h1>

<div class="menu-text">
    <button class="btn-primary" @onclick=GoToDifficulty>New Game</button>
    <button class="btn-primary" @onclick=GoToContinue>Continue Game</button>
    <button class="btn-primary" @onclick=GoToLeaderboard>Leaderboard</button>
    <button class="btn-primary" @onclick=GoToSettings>Settings/Stats</button>
</div>

@code {

    private void GoToDifficulty()
    {
        NavigationManager.NavigateTo("/difficulty");
    }

    private void GoToContinue()
    {
        NavigationManager.NavigateTo("/game/continue");
    }

    private void GoToLeaderboard()
    {
        NavigationManager.NavigateTo("/leaderboard");
    }

    private void GoToSettings()
    {
        NavigationManager.NavigateTo("/settings");
    }
}
