@page "/settings"
@inject NavigationManager NavigationManager
@inject UserClient UserClient
@inject DBCaller DatabaseCaller

<div class="form-container">
    <button class="btn-primary" @onclick=ChangeMistakeDetection>Mistake Detection: @mistakeDetection</button>
    <button class="btn-primary" @onclick=ChangeScoreSaving>Save Scores To Leaderboard: @saveScores</button>
    <button class="btn-primary" @onclick=SaveSettings>Save Settings</button>
</div>

<div class="stats-container">
    <h2>Average Mistakes: @stats![0]</h2>
    <h2>Average Score: @stats![1]</h2>
    <h2>Average Time: @stats![2]</h2>
    <button class="btn-primary" @onclick=SaveSettings>Save And Return To Menu</button>
</div>

@code {
    // add settings checkbox/typebox
    // call getuserstats method
    private List<string>? stats;
    private string? mistakeDetection;
    private string? saveScores;

    protected override void OnInitialized()
    {
        mistakeDetection = UserClient.MistakeDetection;
        saveScores = UserClient.SaveScores;
        GetUserStats();
        if (stats!.Count == 0)
        {
            stats = new List<string>() { "N/A", "N/A", "N/A" };
        }
    }

    private void ChangeMistakeDetection()
    {
        if (mistakeDetection == "On")
        {
            mistakeDetection = "Off";
        }
        else
        {
            mistakeDetection = "On";
        }
    }

    private void ChangeScoreSaving()
    {
        if (saveScores == "On")
        {
            saveScores = "Off";
        }
        else{
            saveScores = "On";
        }
    }

    private void SaveSettings()
    {
        DatabaseCaller.SaveUserSettings(mistakeDetection!, saveScores!, UserClient.User!.Id);
        NavigationManager.NavigateTo("/menu");
    }

    private void GetUserStats()
    {
        stats = DatabaseCaller.GetUserStats(UserClient.User!.Id);
    }
}
